.chat-container{
    width: 100vw;
    height: 100vh;

    display: flex;
}
.chat-container .sidebar{
    width: 100px;
    height: 100%;

    background-color: black;
}
.chat-container .sidebar .header-sidebar{
    height: 100px;
    border-bottom: 1px solid var(--border-color);
}
.chat-container .sidebar ul{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-container .sidebar li{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.chat-container .sidebar li.selected{
    background-color: var(--primary-color);
}
.chat-container .sidebar li:hover{
    background-color: var(--primary-color);
}
.chat-container .last-messages-container{
    width: 350px;
    height: 100%;
    border-right: 1px solid var(--border-color);
}
.chat-container .last-messages-container .header-last-messages-container{
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}
.chat-container .last-messages-container .header-last-messages-container .input-container{
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--primary-hover-color);
    padding: 0 25px;
}
.chat-container .last-messages-container .header-last-messages-container .input-container input{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: initial;
    font-size: 1.2rem;
}
.chat-container .last-messages-container .header-last-messages-container .input-container input::placeholder{
    font-size: 1.1rem;
    color: var(--primary-font-color);
}
.chat-container .last-messages-container .header-last-messages-container .input-container ion-icon{
    color: var(--primary-font-color);
    font-size: 1.5rem;
}
.chat-container .last-messages-container .header-last-messages-content{
    height: 50px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}
.chat-container .last-messages-container .last-messages-content{
    display: flex;
    flex-direction: column;

    height: calc(100% - 150px);

    overflow-y: auto;
}
.chat-container .last-messages-container .last-messages-content::-webkit-scrollbar{
    width: 7px;
    background-color: var(--primary-hover-color);
}
.chat-container .last-messages-container .last-messages-content::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: var(--primary-color);
    border-radius: 50px;
}
.chat-container .last-messages-container .last-messages-content .friend{
    display: flex;

    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.3s;
}
.chat-container .last-messages-container .last-messages-content .friend:hover{
    background-color: var(--primary-hover-color);
}
.chat-container .last-messages-container .last-messages-content .friend img{
    margin-right: 15px;
}
.chat-container .last-messages-container .last-messages-content .friend .header-friend{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-container .last-messages-container .last-messages-content .friend .header-friend .last-message{
    color: rgba(136, 136, 136, 0.808);
}
.chat-container .last-messages-container .last-messages-content .friend .content-friend{
    display: flex;
    align-items: center;
}
.chat-container .last-messages-container .last-messages-content .friend .message-preview{
    width: 85%;
    margin-right: 10px;
    color: rgb(209, 209, 209);
}
.chat-container .last-messages-container .last-messages-content .friend .message-preview ion-icon{
    font-size: 1.3rem;
    margin-right: 5px;
}
.chat-container .last-messages-container .last-messages-content .friend .count-messages{
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    border-radius: 50px;
}
.chat-container .chat-content{
    width: calc(100% - 750px);
    height: 100%;
}
.chat-container .chat-content .header-chat-content{
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    border-bottom: 1px solid var(--border-color);
}
.chat-container .chat-content .header-chat-content .user-selected-info{
    display: flex;
}
.chat-container .chat-content .header-chat-content .user-selected-info img{
    margin-right: 15px;
}
.chat-container .chat-content .header-chat-content .buttons-container{
    display: flex;
}
.chat-container .chat-content .header-chat-content .buttons-container button{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: var(--border-color);
    cursor: pointer;
    border-radius: 50px;
    margin-right: 10px;
    transition: background-color 0.3s;
}
.chat-container .chat-content .header-chat-content .buttons-container button:hover{
    background-color: var(--primary-color);
}
.chat-container .chat-content .header-chat-content .buttons-container button:last-child{
    margin: 0;
}
.chat-container .chat-content .chat-messages{
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
    overflow-y: auto;
}
.chat-container .chat-content .chat-messages::-webkit-scrollbar{
    width: 7px;
    background-color: var(--primary-hover-color);
}
.chat-container .chat-content .chat-messages::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: var(--primary-color);
    border-radius: 50px;
}
.chat-container .chat-content .chat-messages .message{
    width: fit-content;
    margin: 5px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.chat-container .chat-content .chat-messages .message .content{
    max-width: 300px;
    width: fit-content;
    height: fit-content;
    word-break: break-all;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 25px;
}
.chat-container .chat-content .chat-messages .message .date{
    font-size: .8rem;
    color: #5d5f66;
}
.chat-container .chat-content .chat-messages .message.my{
    align-self: flex-end;
}
.chat-container .chat-content .chat-messages .message.my .content{
    background-color: var(--secondary-color);
    align-self: flex-end;
}
.chat-container .chat-content .chat-messages .message.my .date{
    align-self: flex-end;
}
.chat-container .chat-content .chat-messages .message.last .content{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
}
.chat-container .chat-content .chat-messages .message.my.last .content{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0;
}
.chat-container .chat-content .chat-messages .message:last-child{
    margin-bottom: 20px;
}
.chat-container .chat-content .send-message{
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;

    border-top: 1px solid var(--border-color);
}
.chat-container .chat-content .send-message .input-container{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    border-radius: 50px;
    padding-right: 20px;
}
.chat-container .chat-content .send-message input{
    width: calc(100% - 110px);
    height: 100%;

    background-color: initial;
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: 1.5rem;
    color: var(--primary-font-color);
}
.chat-container .chat-content .send-message button{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    margin-right: 10px;
    font-size: 1.3rem;
    border-radius: 50px;
    border: none;
    background-color: var(--border-color);
    transition: background-color 0.3s;
}
.chat-container .chat-content .send-message button:hover{
    background-color: var(--primary-color);
}
.chat-container .chat-content .send-message button:last-child{
    margin-right: 0;
}
.chat-container .start-chat-container{
    width: calc(100% - 750px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chat-container .start-chat-container img{
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
}
.chat-container .my-friends{
    width: 300px;
    height: 100%;
    border-left: 1px solid var(--border-color);
}
.chat-container .my-friends .header-my-friends{
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}
.chat-container .my-friends .header-my-friends .input-container{
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--primary-hover-color);
    padding: 0 25px;
}
.chat-container .my-friends .header-my-friends .input-container input{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: initial;
    font-size: 1.2rem;
}
.chat-container .my-friends .header-my-friends .input-container input::placeholder{
    font-size: 1.1rem;
    color: var(--primary-font-color);
}
.chat-container .my-friends .header-my-friends .input-container ion-icon{
    color: var(--primary-font-color);
    font-size: 1.5rem;
}
.chat-container .my-friends .header-friends-content{
    height: 50px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}
.chat-container .my-friends .friends-content{
    height: calc(100% - 250px);
}
.chat-container .my-friends .friends-content .friend{
    display: flex;
    align-items: center;

    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.chat-container .my-friends .friends-content .friend:hover{
    background-color: var(--primary-hover-color);
}
.chat-container .my-friends .friends-content .friend img{
    margin-right: 15px;
}
.chat-container .my-friends .friends-content .friend .header-friend{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chat-container .my-friends .menu-my-friends{
    height: 100px;
    display: flex;
    border-top: 1px solid var(--border-color);
}
.chat-container .my-friends .menu-my-friends button{
    width: 50%;
    height: 100%;

    border: none;
    background-color: initial;
    font-size: 2rem;
    cursor: pointer;
}
.chat-container .my-friends .menu-my-friends button.selected{
    border-top: 4px solid var(--primary-color);
    background-color: var(--border-color);
}
.chat-container .my-friends .menu-my-friends button:hover{
    border-top: 4px solid var(--primary-color);
    background-color: var(--border-color);
}