*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: background-color 0.5s;
    color: var(--primary-font-color);
}
:root{
    --primary-color: #964bff;
    --dark-primary-color: #732dd4;
    --secondary-color: #005dd6;
    --border-color: rgba(255, 255, 255, 0.11);
    --primary-hover-color: rgba(136, 136, 136, 0.178);
    --primary-font-color: #fafafa;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
a{
    text-decoration: none;
}
.light{
    background-color: #fafafa;
}
.light h1, 
.light h2, 
.light h3, 
.light p{
    color: black;
}
.light input{
    color: black;
    background-color: #f3f3f3;
}
.dark{
    background-color: #202331;
}
.dark h1, 
.dark h2, 
.dark h3, 
.dark p{
    color: var(--primary-font-color);
}
.dark input{
    background-color: #202331;
    color: var(--primary-font-color);
}
.nothing-container{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 15px;
}
.nothing-container img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.nothing-container h2{
    text-align: center;
    font-weight: 400;
}