*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: background-color 0.5s;
    color: #fafafa;
}
body{
    background-color: #282A36;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
a{
    text-decoration: none;
}
.light{
    background-color: white;
}
.light h1, 
.light h2, 
.light h3, 
.light p, 
.light ion-icon{
    color: black;
}
.light input{
    color: black;
    background-color: #f3f3f3;
}
.light-secondary{
    background-color: #fafafa;
}
.light-terciary{
    background-color: #f3f3f3;
}

.dark{
    background-color: #282A36;
}
.dark h1, 
.dark h2, 
.dark h3, 
.dark p, 
.dark ion-icon{
    color: #fafafa;
}
.dark input{
    background-color: #202331;
    color: #fafafa;
}
.dark-secondary{
    background-color: #1c1d2c;
}
.dark-terciary{
    background-color: #202331;
}
.nothing-container{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 15px;
}
.nothing-container img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.nothing-container h2{
    text-align: center;
    font-weight: 400;
}